@import "../sass/variable.scss";
.loader__container {
    opacity: 1;
    animation: loader__container $loader-container-duration cubic-bezier(1, -0.01, 1, 1.44);
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 5;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @keyframes loader__container {
        0% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        99% {
            z-index: 5;
        }
        100% {
            opacity: 0;
            z-index: -2;
        }
    }
    .loader__background {
        animation: loader__background $loader-container-duration $animation-delay cubic-bezier(1, -0.01, 1, 1.44) both;
        height: 100vh;
        position: absolute;
        background-color: #353535;
        opacity: 1;
        z-index: 5;
    }
    // Titre ohmyfood
    .loader__title { //ohmyfood
        font-size: $font-size-45; // taille font
        position: absolute; // absolute 
        opacity: 1; // opacité de base 
        z-index: 5; // index de base 
        display: flex; // dflex
        justify-content: center; 
        align-items: flex-end;
        font-family: Shrikhand;
        animation: loader__title-anim $loader-container-duration cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal both;
        // 0s = 0s de delai / 1 = une itération / normal = direction de l'animation / both appliquer les styles avant et après l'anim
    }

    @keyframes loader__title-anim {
        0% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            opacity: 0;// invisible
            transform: translateY(-200px); //annimation a -200px
        }
        10% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            opacity: 1; // visible
            transform: translateY(0); // arriver a ça position demander 
            color: #9356dc; // couleur
        }
        20% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(15px); // rebond de 15px
            color: #ff79da;// couleur
        }
        30% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0); // retour position demander
            color: #ff79da;
        }
        40% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(20px); // rebond de 20px
            color: #99e2d0;
        }
        50% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0); //retour position demander 
            color: #99e2d0;
        }
        60% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(25px); // rebond de 25px
            color: #9356dc;
        }
        70% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0); // retour position demander 
            color: #9356dc;
        }

        80% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(30px); // rebond de 30px
            color: #ff79da;
        }

        96% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(-150px); // sortie de la page 
            color: #ff79da;
        }

        100% {
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform: translateY(-150px);
            opacity: 0; // invisible 
            color: #99e2d0;
        }
    }
    .loader__text {
        animation: loader__text-anim $loader-container-duration cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal both;
        font-size: $font-size-45;
        z-index: 6;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 136px;
        font-family: Shrikhand;
    }

    @keyframes loader__text-anim {
        0% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(250px);
            color: nth($colors, 1);// autre façon de changer la couleur via des variables 3 couleurs dans la var je selectionne la 1 
        }

        10% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            opacity: 1;
            transform: translateY(0);
            color: nth($colors, 1);
        }

        20% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(-30px);
            color: nth($colors, 2);
        }

        30% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0);
            color: nth($colors, 2);
        }

        40% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(-25px);
            color: nth($colors, 3);
        }

        50% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0);
            color: nth($colors, 3);
        }

        60% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(-20px);
            color: nth($colors, 1);
        }

        70% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0);
            color: nth($colors, 1);
        }

        80% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(-15px);
            color: nth($colors, 2);
        }

        96% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(250px);
            color: nth($colors, 2);
        }

        100% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(250px);
            color: nth($colors, 2);
        }
    }
    @keyframes loader-spinner {
        0%,
        100% {
            opacity: 1;
        }
        25% {
            background: nth($colors, 1);
        }
        50% {
            background: nth($colors, 2);
        }
        75% {
            background: nth($colors, 3);
        }
        100% {
            opacity: 0;
        }
    }
    .loader__spinner {
        position: absolute;// position absolute// 
        z-index: 6; //6 car background a 5//
        display: flex; //dflex //
        align-items: center; 
        justify-content: center;
        width: 80%; 
        height: 60%;
        margin-left: -77px;
        margin-top: -125px;
        div {
            transform-origin: $spinner-inner-size;
            animation: loader-spinner $animation-duration-spinner * $total-iterations linear infinite;
            animation-fill-mode: forwards; 

            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 3.2px;
                left: 36.8px;
                width: 6.4px;
                height: 17.6px;
                border-radius: 20%;
                background: nth($colors, $j);

                $j: $j % length($colors) + 1;
            }
        }
    }
    @for $i from 1 through 12 {
        .loader__spinner div:nth-child(#{$i}) {
            transform: rotate(30deg * ($i - 1));
            animation-delay: $i * $animation-delay-per-spinner;
        }
    }
}
// anim coeur //
.fa-heart {
    margin-left: 30px;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    cursor: pointer;

    &:active {
        background: $color-button;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &:hover {
        background: $color-button;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: fillHeart 0.3s linear forwards;
    }

    @keyframes fillHeart {
        25% {
            background-size: 100% 75%;
        }
        50% {
            background-size: 100% 50%;
        }
        75% {
            background-size: 100% 25%;
        }
        100% {
            background-size: 100% 0%;
        }
    }
}
// class de base répétition //
.taille__base {
    height: 100%;
    width: 100%;
}
.w100 {
    width: 100%;
}
.dflex {
    display: flex;
}
.active {
    background: $color-button;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
// class de base répétition FIN //

@import "variable"; // Importation variables et mixins depuis le fichier "variable.scss"
html {
    font-family: "Roboto", sans-serif;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    overflow-x: hidden;
}
.main-container {
    width: 100%;
}
header {
    @include header-styles; // Utilisation des styles pour l'en-tête
    .header__logo {
        @include logo-styles; // Utilisation des styles pour le logo
    }
}
a {
    @include link-styles; // Utilisation des styles pour les liens
}
.localisation {
    @include section-styles; // Utilisation des styles pour les sections
    background-color: #eaeaea;
    height: 50px;
    .localisation__title {
        @include title-styles; // Utilisation des styles pour les titres
    }
    .fa-location-dot {
        color: #353535;
        margin-right: 17px;
    }
}
.explorer {
    padding: 49px 0px 26px 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    letter-spacing: 0em;
    text-align: center;
    background-color: #F6F6F6;
    align-items: center;
    .explorer__form{
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        width: 84vw;
    }
    .explorer__title {
        margin-bottom: 10px;
        letter-spacing: 0.01em;
        width: 84vw;
    }
    .explorer__texte {
        margin-block-end: 2em;
        letter-spacing: -0.05em;
        color: #353535;
        font-size: 18px;
    }
    .explorer__button {
        @include button; // Utilisation de la classe boutons

        &:hover {
            @include hover-effect; // Utilisation du mixin effet hover
        }
    }
}
.fonctionnement {
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;

    .fonctionnement__title {
    margin: 48px 0px 26px 17px;
    width: 100%;
    }
    .fonctionnement__button {
        flex-direction: row-reverse;
        align-items: center;
        height: 72px;
        border-radius: 20px;
        width: 322px;
        padding-right: 10px;
        background-color: #f6f6f6;
        cursor: pointer;
        position: relative;
        justify-content: flex-end;
        font-weight: 600;
        gap: 15px;
        margin: 11px;
        box-shadow: 0px 4px 15px 0px #00000026;

        &:hover .fa-solid {
            color: $color-mauve;
        }
    }
    .fonctionnement__button .fa-solid {
        margin-left: 25px;
        margin-right: 5px;
    }
}
.fonctionnement__menu{
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}
.notif {
    @include notification-styles; // Utilisation des styles pour les notifications
}
.restaurants {
    background-color: #f6f6f6;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 49px;
    .restaurants__title {
        margin: 48px 0px 26px 0px;
        width: 85%;
    }
}
.restaurants__menu{
    flex-wrap: nowrap;
    flex-direction: column;
}
.restaurants__card {
    @include card-styles; // Utilisation des styles pour les cartes
    .restaurants__card--img {
        @include card-image-styles; // Utilisation des styles pour les images de carte
    }
    .restaurants__card--title {
        @include card-title-styles; // Utilisation des styles pour les titres de carte
    }
    .restaurants__card--p {
        @include card-paragraph-styles; // Utilisation des styles pour les paragraphes de carte
    }
    .fa-heart {
        @include card-icon-styles; // Utilisation des styles pour les icônes de carte
    }
}
.nouveau {
    @include new-badge-styles; // Utilisation des styles pour les badges "nouveau"
}

footer {
    padding: 15px 0px 15px 0px;
    background-color: #353535;
    color: white;
    .footer__title {
        font-family: Shrikhand;
        font-size: $font-size-18;
        line-height: 26px;
        margin-bottom: 16px;
        margin-left: 25px;
        font-weight: 400;
    }
}
.footer__gras {
    justify-content: flex-start;
    gap: 11px;
    font-weight: 500;
    line-height: 19px;
    .footer__text {
        line-height: 19px;
        .fa-utensils {
            margin-right: 6px;
        }
    }
}
footer p {
    margin-bottom: 7px;
    margin-left: 25px;
}
footer a {
    color: white;
}
// pages restaurants 1 2 3 4 //

.main__container--restaurant {
    width: 100vw;
}
.header__restaurant {
    @include flex-styles(center, row, center); // Utilisation du mixin pour les styles flex
}

.header__logo--restaurant {
    @include logo-styles-restaurant; // Utilisation des styles pour le logo restaurant
}

.fa-arrow-left {
    @include arrow-styles; // Utilisation des styles pour la flèche
}

.top__image--holder {
    width: 100%;
    height: 275px;
}
.top__image {
    @include image-styles; // Utilisation des styles pour les images
}

.card__restaurant,
.card__restaurant--enchante {
    @include card-styles-restaurant; // Utilisation des styles pour les cartes de restaurant
}

.title__restaurant {
    @include title-styles-restaurant; // Utilisation des styles pour les titres de restaurant
}

.menu__1,
.menu__2,
.menu__3 {
    @include menu-styles; // Utilisation des styles pour les menus
    animation: menu__anim 500ms linear 0s forwards;
    opacity: 0;
}
.menu__2 {
    animation-delay: 600ms;
}

.menu__3 {
    animation-delay: 1200ms;
}
@keyframes menu__anim {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.menu__title {
    @include menu-title-styles; // Utilisation des styles pour les titres de menu
}

.menu__button {
    @include menu-button-styles; // Utilisation des styles pour les boutons de menu parent du calque
}

.menu__button--container {
    @include menu-button-container-styles; // Utilisation des styles pour les conteneurs de bouton de menu
} //met le hidden ect sur les textes//

.calque {
    @include calque-styles; // Utilisation des styles defaut pour le calque (L316)
}

.fa-circle-check {
    @include check-icon-styles; // Utilisation des styles pour l'icône de coche
}
.fa-circle-check:hover, //survol//
.fa-circle-check:active { //click//
    transform: rotate(360deg); //anim de l'icone valider
}

.menu__button:active .menu__plat, //clique bouton = action menu plat h3//
.menu__button:active .menu_p { //clique bouton = action paragraph //
    overflow: hidden; //cache le contenue qui déborde du bloc txt (enfant 1)// 
    text-overflow: ellipsis; // affiche les trois "..." // 
    white-space: nowrap; // ne met pas le texte a la ligne quand il y a pas de place// 
    z-index: 2;
}

.menu__button:active .calque, //clique bouton = action sur calque //
.menu__button:active .menu__prix { //clique bouton = action sur prix//
    transform: translateX(-70px); //déplacement horizontale de -70px calque et prix (enfant 2)//
    z-index: 1;
}

.menu__plat,
.menu_p {
    @include menu-text-styles; // Utilisation des styles pour le texte de menu
}

.menu_p { // modification de texte ciblé sur le p par rapport a menu__plat // 
    font-size: 0.78rem;
    font-weight: 300;
    line-height: 18px;
}

.menu__prix {
    @include menu-price-styles; // Utilisation des styles pour les prix de menu
}

.commander__button {
    @include button-styles-commander;
}

.footer__restaurant {
    width: 100%;
    height: auto;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 600px) */
@media (min-width: 600px) {
    .main-container {
        padding: 0%;
    }
    .fonctionnement__menu{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
    }
    .fonctionnement .fonctionnement__title{
        width: 275px;
        margin: 2vw 68.4vw 2vw 13vw;
    }
    .fonctionnement .fonctionnement__button{
        width: 29.7vw;
        max-width: 322px;
        min-width: 243.44px;
        font-size: 1rem;
        margin: 10px;;    
    }
    .restaurants__menu{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 75vw;
    }
    .restaurants .restaurants__title{
        width: 275px;
        margin: 2vw 68.4vw 2vw 13vw;
    }
    .restaurants__card {
        width: 34vw;
        margin-right: 20px;
    }
    .title__restaurant{
        justify-content: center;
    }
    .fa-heart{
        margin-left: 30px;
    }
    .card__restaurant--enchante {
        margin-top: -6vw;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        width: 73%;
        left: 13%;
    }
    .menu__1,
    .menu__2,
    .menu__3 {
        width: 80%;
    }
    .menu__button {
        width: 100%;
        padding: 0px 0px 0px 9px;
    }
    .menu__button:active .menu__plat,
    .menu__button:active .menu_p {
        overflow: visible;
        text-overflow: clip;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 1024px) {
    .fonctionnement__menu{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;;
        margin-left: 12.5vw;
        margin-right: 12.5vw;
    }
    .fonctionnement .fonctionnement__button {
        width: 22.7vw;
        max-width: 322px;
        font-size: 1rem;
        margin: 0px;
        min-width: 0px;
    }
    .fonctionnement .fonctionnement__title {
        width: 275px;
        margin: 4vw 68.4vw 2vw 13vw;
    }
    h2{
        font-size: 20px;
    }
    .restaurants__menu{
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 100vw;
        margin-left: 12.5vw;
        margin-right: 5.56vw;
    }
    .restaurants .restaurants__title{
        width: 275px;
        margin: 2vw 68.4vw 2vw 13vw;
    }
    .explorer .explorer__title {
        font-size: 24px;
        font-weight: 700;
        line-height: 47px;
        font-size: 40px;
    }
    .restaurants__card {
        width: 33.4vw;
        margin-right: 6.74vw;
        margin-bottom: 2.5vw;
    }
    .menu__1,
    .menu__2,
    .menu__3 {
        width: 73%;
    }
    .card__restaurant--enchante {
        width: 73%;
        left: 13%;
    }
    .title__restaurant {
        justify-content: center;
    }
    .fa-heart {
        margin-left: 30px;
    }
    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        padding-top: 20px;
        height: 50px;
    }
    .orderun {
        order: 1;
    }
    .orderdeux {
        order: 2;
    }
    .ordertrois {
        order: 3;
    }
    .orderquatre {
        order: 4;
    }
    footer .footer__title {
        margin-left: 50px;
        padding-right: 5%;
        margin-bottom: 0px;
    }
}