@import "../sass/variable.scss";
.loader__container {
    opacity: 1;
    animation: loader__container $loader-container-duration cubic-bezier(1, -0.01, 1, 1.44);
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 5;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    @keyframes loader__container {
        0% {
            opacity: 1;
        }
        95% {
            opacity: 1;
        }
        99% {
            z-index: 5;
        }
        100% {
            opacity: 0;
            z-index: -2;
        }
    }
    .loader__background {
        animation: loader__background $loader-container-duration $animation-delay cubic-bezier(1, -0.01, 1, 1.44) both;
        height: 100vh;
        position: absolute;
        background-color: #353535;
        opacity: 1;
        z-index: 5;
    }
    // Titre ohmyfood
    .loader__title {
        margin-top: -228px;
        font-size: $font-size-45;
        position: absolute;
        opacity: 1;
        z-index: 5;
        color: #9356dc;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: Shrikhand;
        background: linear-gradient(to right, #9356dc, #ff79da, #99e2d0);
        background-clip: text;
        -webkit-background-clip: text;
        animation: loader__title-anim $loader-container-duration cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal both;
        background-size: 200% 100%;
        background-position: 100% 0;
    }

    @keyframes loader__title-anim {
        0% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            opacity: 0;
            transform: translateY(-200px);
        }
        10% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            opacity: 1;
            transform: translateY(0);
            color: #9356dc;
        }
        20% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(15px);
            color: #ff79da;
        }
        30% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0);
            color: #ff79da;
        }
        40% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(20px);
            color: #99e2d0;
        }
        50% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0);
            color: #99e2d0;
        }
        60% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(25px);
            color: #9356dc;
        }
        70% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0);
            color: #9356dc;
        }

        80% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(30px);
            color: #ff79da;
        }

        96% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(-150px);
            color: #ff79da;
        }

        100% {
            animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transform: translateY(-150px);
            opacity: 0;
            color: #99e2d0;
        }
    }
    .loader__text {
        animation: loader__text-anim $loader-container-duration cubic-bezier(0.215, 0.61, 0.355, 1) 0s 1 normal both;
        font-size: $font-size-45;
        z-index: 6;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-top: 136px;
        font-family: Shrikhand;
    }

    @keyframes loader__text-anim {
        0% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(250px);
            color: nth($colors, 1);
        }

        10% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            opacity: 1;
            transform: translateY(0);
            color: nth($colors, 1);
        }

        20% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(-30px);
            color: nth($colors, 2);
        }

        30% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0);
            color: nth($colors, 2);
        }

        40% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(-25px);
            color: nth($colors, 3);
        }

        50% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0);
            color: nth($colors, 3);
        }

        60% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(-20px);
            color: nth($colors, 1);
        }

        70% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(0);
            color: nth($colors, 1);
        }

        80% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(-15px);
            color: nth($colors, 2);
        }

        96% {
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            transform: translateY(250px);
            color: nth($colors, 2);
        }

        100% {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(250px);
            color: nth($colors, 2);
        }
    }
    @keyframes loader-spinner {
        0%,
        100% {
            opacity: 1;
        }
        25% {
            background: nth($colors, 1);
        }
        50% {
            background: nth($colors, 2);
        }
        75% {
            background: nth($colors, 3);
        }
        100% {
            opacity: 0;
        }
    }
    .loader__spinner {
        position: absolute;
        z-index: 6;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 60%;
        margin-left: -77px;
        margin-top: -125px;
        div {
            transform-origin: $spinner-inner-size $spinner-inner-size;
            animation: loader-spinner $animation-duration-spinner * $total-iterations linear infinite;
            animation-fill-mode: forwards;

            &:after {
                content: " ";
                display: block;
                position: absolute;
                top: 3.2px;
                left: 36.8px;
                width: 6.4px;
                height: 17.6px;
                border-radius: 20%;
                background: nth($colors, $j);

                $j: $j % length($colors) + 1;
            }
        }
    }
    @for $i from 1 through 12 {
        .loader__spinner div:nth-child(#{$i}) {
            transform: rotate(30deg * ($i - 1));
            animation-delay: $i * $animation-delay-per-spinner;
        }
    }
}
// anim coeur //
.fa-heart {
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    &:active {
        background: $color-button;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    &:hover {
        background: $color-button;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
// class de base répétition //
.taille__base {
    height: 100%;
    width: 100%;
}
.w100 {
    width: 100%;
}
.dflex {
    display: flex;
}
.active {
    background: $color-button;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
// class de base répétition FIN //

@import "variable"; // Importation variables et mixins depuis le fichier "variable.scss"
html {
    font-family: "Roboto", sans-serif;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    overflow-x: hidden;
}
.main-container {
    width: 100%;
}
header {
    @include header-styles; // Utilisation des styles pour l'en-tête
    .header__logo {
        @include logo-styles; // Utilisation des styles pour le logo
    }
}
a {
    @include link-styles; // Utilisation des styles pour les liens
}
.localisation {
    @include section-styles; // Utilisation des styles pour les sections
    background-color: #eaeaea;
    height: 50px;
    .localisation__title {
        @include title-styles; // Utilisation des styles pour les titres
    }
    .fa-location-dot {
        color: #353535;
        margin-right: 17px;
    }
}
.explorer {
    padding: 49px 0px 26px 0px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    letter-spacing: 0em;
    text-align: center;
    background-color: $color-white;
    .explorer__title {
        margin-bottom: 10px;
        letter-spacing: 0.01em;
    }
    .explorer__texte {
        margin-block-end: 2em;
        letter-spacing: -0.05em;
    }
    .explorer__button {
        @include button; // Utilisation de la classe boutons

        &:hover {
            @include hover-effect; // Utilisation du mixin effet hover
        }
    }
}
.fonctionnement {
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;

    .fonctionnement__title {
        margin: 48px 0px 26px 0px;
        width: 85%;
    }
    .fonctionnement__button {
        flex-direction: row-reverse;
        align-items: center;
        height: 61px;
        border-radius: 20px;
        margin: 9px;
        width: 83%;
        min-width: max-content;
        padding-right: 10px;
        background-color: $color-background-light;
        cursor: pointer;
        position: relative;
        justify-content: flex-end;

        &:hover .fa-solid {
            color: $color-mauve;
        }
    }
    .fonctionnement__button .fa-solid {
        margin-left: 35px;
        margin-right: 13px;
    }
}
.notif {
    @include notification-styles; // Utilisation des styles pour les notifications
}
.restaurants {
    background-color: #f6f6f6;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 49px;
    .restaurants__title {
        margin: 48px 0px 26px 0px;
        width: 85%;
    }
}
.restaurants__card {
    @include card-styles; // Utilisation des styles pour les cartes
    .restaurants__card--img {
        @include card-image-styles; // Utilisation des styles pour les images de carte
    }
    .restaurants__card--title {
        @include card-title-styles; // Utilisation des styles pour les titres de carte
    }
    .restaurants__card--p {
        @include card-paragraph-styles; // Utilisation des styles pour les paragraphes de carte
    }
    .fa-heart {
        @include card-icon-styles; // Utilisation des styles pour les icônes de carte
    }
}
.nouveau {
    @include new-badge-styles; // Utilisation des styles pour les badges "nouveau"
}

footer {
    padding: 15px 0px 15px 0px;
    background-color: #353535;
    color: white;
    .footer__title {
        font-family: Shrikhand;
        font-size: $font-size-18;
        line-height: 26px;
        margin-bottom: 16px;
        margin-left: 25px;
        font-weight: 400;
    }
}
.footer__gras {
    justify-content: flex-start;
    gap: 11px;
    font-weight: 500;
    line-height: 19px;
    .footer__text {
        line-height: 19px;
        .fa-utensils {
            margin-right: 6px;
        }
    }
}
footer p {
    margin-bottom: 7px;
    margin-left: 25px;
}
footer a {
    color: white;
}
// pages restaurants 1 2 3 4 //

.main__container--restaurant {
    width: 100vw;
}
.header__restaurant {
    @include flex-styles(center, row, center); // Utilisation du mixin pour les styles flex
}

.header__logo--restaurant {
    @include logo-styles-restaurant; // Utilisation des styles pour le logo restaurant
}

.fa-arrow-left {
    @include arrow-styles; // Utilisation des styles pour la flèche
}

.top__image--holder {
    width: 100%;
    height: 275px;
}
.top__image {
    @include image-styles; // Utilisation des styles pour les images
}

.card__restaurant,
.card__restaurant--enchante {
    @include card-styles-restaurant; // Utilisation des styles pour les cartes de restaurant
}

.title__restaurant {
    @include title-styles-restaurant; // Utilisation des styles pour les titres de restaurant
}

.menu__1,
.menu__2,
.menu__3 {
    @include menu-styles; // Utilisation des styles pour les menus
    animation: menu__anim 500ms linear 0s forwards;
    opacity: 0;
}
.menu__2 {
    animation-delay: 600ms;
}

.menu__3 {
    animation-delay: 1200ms;
}
@keyframes menu__anim {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.menu__title {
    @include menu-title-styles; // Utilisation des styles pour les titres de menu
}

.menu__button {
    @include menu-button-styles; // Utilisation des styles pour les boutons de menu
}

.menu__button--container {
    @include menu-button-container-styles; // Utilisation des styles pour les conteneurs de bouton de menu
}

.calque {
    @include calque-styles; // Utilisation des styles pour le calque
}

.fa-circle-check {
    @include check-icon-styles; // Utilisation des styles pour l'icône de coche
}
.fa-circle-check:hover,
.fa-circle-check:active {
    transform: rotate(360deg);
}

.menu__button:active .menu__plat,
.menu__button:active .menu_p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index: 2;
}

.menu__button:active .calque,
.menu__button:active .menu__prix {
    transform: translateX(-70px);
    z-index: 1;
}

.menu__plat,
.menu_p {
    @include menu-text-styles; // Utilisation des styles pour le texte de menu
}

.menu_p {
    font-size: 0.78rem;
    font-weight: 300;
    line-height: 18px;
}

.menu__prix {
    @include menu-price-styles; // Utilisation des styles pour les prix de menu
}

.commander__button {
    @include button-styles-commander;
}

.footer__restaurant {
    width: 100%;
    height: auto;
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 600px) */
@media (min-width: 600px) {
    .main-container {
        padding: 0%;
    }
    .fonctionnement .fonctionnement__button {
        max-width: 262px;
    }
    .restaurants__card {
        width: 39vw;
        margin: 13px;
    }
    .card__restaurant--enchante {
        margin-top: -6vw;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }
    .menu__1,
    .menu__2,
    .menu__3 {
        width: 80%;
    }
    .menu__button {
        width: 100%;
        padding: 0px 0px 0px 9px;
    }
    .menu__button:active .menu__plat,
    .menu__button:active .menu_p {
        overflow: visible;
        text-overflow: clip;
    }
}

/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width: 1024px) {
    .fonctionnement__button {
        width: 25%;
        margin: 15px;
    }
    .explorer .explorer__title {
        font-size: 40px;
        font-weight: 700;
        line-height: 47px;
    }
    .restaurants__card {
        width: 36vw;
        margin: 34px;
    }
    .menu__1,
    .menu__2,
    .menu__3 {
        width: 73%;
    }
    .title__restaurant {
        justify-content: center;
    }
    .fa-heart {
        margin-left: 30px;
    }
    footer {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        padding-top: 20px;
        height: 50px;
    }
    .orderun {
        order: 1;
    }
    .orderdeux {
        order: 2;
    }
    .ordertrois {
        order: 3;
    }
    .orderquatre {
        order: 4;
    }
    footer .footer__title {
        margin-left: 50px;
        padding-right: 5%;
        margin-bottom: 0px;
    }
}
